*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

#__next {
  min-height: 100%;
  position: relative;
}
li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

fieldset {
  border: none;
  padding: unset;
}

::-webkit-scrollbar {
  background-color: #eee;
  border-radius: 2px;
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #262626b5;
}
