*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#__next {
  min-height: 100%;
  position: relative;
}
li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

fieldset {
  border: none;
  padding: unset;
}